html{
    scroll-behavior: smooth;
}
body{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    background-color: #CFC2A0;
    /* Kinda solves the problem, but no scrolling */
    /* overflow-y: hidden; */
}
p {
    font-weight: 300;
}
a {
    color: inherit;
}
a:hover {
    text-decoration: none;
}
h1,h2 {
    font-weight: 600;
    letter-spacing: 0.25em;
}
svg{
    fill: #f2f2f2;
}
nav{
    background-color: #CFC2A0;
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 0;
    z-index: 100;
    padding: 0 16px;
    display: flex;
    align-items: center;
}
nav ul li.active{
    background-color: #CC9355;
    padding: 12px;
    border-radius: 5px;
}
nav ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-left: auto;
}
.desktopNav li{
    display: inline;
    padding: 0 0.5em;
}
.mobileNav{
    display: none;
    position: absolute;
    top: 60px;
    right: -60vw;
    height: 100vh;
    width: 60vw;
    background-color: #CFC2A0;
    padding: 16px;
    font-size: 24px;
    font-weight: 600;
}
@media screen and (max-width: 840px){
    .desktopNav{
        display: none;
    }
    .mobileNav{
        display: block;
    }
}
nav ul li a{
    color: inherit;
}
nav ul li a:hover{
    color: inherit;
}
nav img{
    height: 40px;
}
nav img:hover{
    cursor: pointer;
}
#menu{
    display: none;
    margin-left: auto;
    padding-right: 16px;
    z-index: 4;
}
@media screen and (max-width: 840px){
    #menu{
        display: block;
    }
}
.overlay{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.49);
    position: fixed;
    z-index: 3;
    top: 60px;
    width: 100vw;
    display: none;
}
h2 span{
    border-bottom: 4px #fff solid;
    margin-bottom: 2em;
    line-height: 2em;
}
@media screen and (max-width: 768px){
    h2 span{
        margin-bottom: 1em;
    }
}
h2 {
    padding-bottom: 1em;
}
.white-btn {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
}
.white-btn:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}
.container {
    min-height: 100vh;
    height: 100%;
}
#page2, #page3, #page4, #page5, #page6 {
    padding-top: 60px;
}
.pageRow {
    display: block;
    width: 100%;
    height: calc(80vh - 60px);
    display: flex;
    align-items: center;
}
.pageBottom {
    padding: 2em 0;
    width: 100%;
    height: calc(10vh + 30px);
    display: flex;
    justify-content: center;
}
#page1 {
    padding-top: 60px;
    background: linear-gradient(148.73deg, rgba(0, 0, 0, 0) 7.55%, rgba(0, 0, 0, 0.49) 92.71%), url("imgs/backgrounds/background-example.jpg");
    background-size: cover;
    background-repeat: none;
    background-position-y: 60px;
}
.quality-list {
    list-style: none;
    padding-left: 0;
    font-size: 24px;
    color: #283035;
}
.quality-list li {
    background-color: #CC9355;
    display: flex;
    width: 60vw;
    align-items: center;
    margin-bottom: 16px;
    position: relative;
    left: -70vw;
}
@media screen and (max-width: 468px){
    .quality-list li {
        width: 90vw;
    }
}
.quality-list li b {
    font-size: 2em;
    margin: 0 0.5em;
}
.quality-list li p {
    margin-bottom: 0;
    letter-spacing: 0.25em;
    font-weight: bold;
}
#page1 a .white-btn {
    min-width: 280px;
    font-size: 1.25em;
}
#page1 svg{
    fill: #fff;
}
#page2{
    background-color: #283035;
}
#page2 img{
    padding-bottom: 1em;
}
@media screen and (max-width: 768px){
    #page2 img{
        max-height: 300px;
    }
}
#page3{
    background-color: #CC9355;
}
#page3 img {
    height: 320px;
    padding: 32px; 
}
@media screen and (max-width: 768px){
    #page3 img {
        height: 200px;
    }
}
#page4{
    color: #283035;
}
#page4 h2 span{
    border-bottom: 4px #283035 solid;
    margin-bottom: 2em;
}
#page4{
    background-color: #f2f2f2;
}
#page4 .card{
    margin: 0 2em 2em 0;
    max-width: 300px;
}
#page4 svg{
    fill: #283035;
}
#page5{
    background-color: #283035;
}
#page5 img{
    margin: 0 2em 1em 1em;
    width: 100%;
    max-width: 210px;
    background-color: #f2f2f2;
    padding: 5px;
}
#page6{
    background-color: #000;
}
#page6 a{
    font-weight: 600;
}
#page6 a:hover{
    color: #CC9355;
    transition: 0.5s;
}
#page6 h2 {
    color: #CC9355;
}
#page6 h2 span{
    border-color: #CC9355;
}
#page6 svg{
    transform: rotate(180deg);
}
.form-control{
    background-color: #000;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #CC9355;
    padding: 0;
}
.form-control:focus{
    background-color: #000;
    border: none;
}